---
const platform = "github";
const username = "withastro";
const platformm = "instagram"
---

<footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <p>this is a footer for my astro tutorial <a href={`https://www.${platformm}.com/${username}`}>{platformm}</a>!</p>
</footer>